
.main-ZLs {
    height: 78rem;
    position: relative;
    width: 100%;
  
    .home-oFD {
      background-color: #fcfcfc;
      border-radius: 1.5rem;
      height: 78rem;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 36rem;
  
      .auto-group-m6ux-o2F {
        align-items: center;
        background-color: #ffffff;
        border-bottom: solid 0.1rem rgba(0, 0, 0, 0.200000003);
        box-sizing: border-box;
        display: flex;
        height: 4.9rem;
        left: 0;
        padding: 0.2rem 1.8rem 0.2rem 1.2rem;
        position: absolute;
        top: 4rem;
        width: 36rem;
  
        .frame-427318925-uDh {
          cursor: pointer;
          flex-shrink: 0;
          height: 3.9rem;
          margin: 0rem 10.65rem 0.6rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.55rem;
        }
        .item-616494-1-Pef {
          flex-shrink: 0;
          height: 3.5rem;
          margin: 0rem 11.1rem 0.8rem 0rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.5rem;
        }
        .rectangle-2088-gtf {
          flex-shrink: 0;
          height: 3.2rem;
          margin-bottom: 0.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.2rem;
        }
      }
      .auto-group-zzd1-xLP {
        box-sizing: border-box;
        height: 65.8rem;
        left: 0;
        padding: 3.4rem 1.7rem 41.2rem 1.7rem;
        position: absolute;
        top: 8.9rem;
        width: 36rem;
  
        .frame-690-EYo {
          height: 9.7rem;
          margin-bottom: 1.1rem;
          position: relative;
          width: 100%;
  
          .rectangle-2086-L63 {
            background-color: #ffffff;
            border: solid 0.15rem #ffcb51;
            border-radius: 1.5rem;
            box-sizing: border-box;
            height: 9.7rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 15.8rem;
          }
          .rectangle-2087-Ce3 {
            background-color: #ffffff;
            border: solid 0.15rem #ffcb51;
            border-radius: 1.5rem;
            box-sizing: border-box;
            height: 9.7rem;
            left: 16.8rem;
            position: absolute;
            top: 0;
            width: 15.8rem;
          }
          .item--6zK {
            color: #000000;
            display: flex;
            font-family: Noto Sans KR, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 500;
            height: 2.2rem;
            left: 1.3rem;
            line-height: 1.5714285714;
            position: absolute;
            top: 1rem;
            white-space: nowrap;
            width: 5.9rem;
          }
          .item-13--8w1 {
            color: #757575;
            display: flex;
            font-family: Noto Sans KR, 'Source Sans Pro';
            font-size: 0.8rem;
            font-weight: 400;
            height: 1.8rem;
            left: 1.3rem;
            line-height: 2;
            position: absolute;
            top: 7.3rem;
            white-space: nowrap;
            width: 12.6rem;
          }
          .item--Pc3 {
            color: #000000;
            display: flex;
            font-family: Noto Sans KR, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 500;
            height: 2.2rem;
            left: 18.2rem;
            line-height: 1.5714285714;
            position: absolute;
            top: 1rem;
            white-space: nowrap;
            width: 6.2rem;
          }
          .item-4514764-1-4TH {
            height: 3.8rem;
            left: 2.5rem;
            object-fit: cover;
            position: absolute;
            top: 2.9rem;
            vertical-align: top;
            width: 3.8rem;
          }
          .frame-427318919-y4T {
            align-items: center;
            display: flex;
            height: 1.8rem;
            left: 7.7rem;
            position: absolute;
            top: 4.05rem;
            width: 23.9rem;
  
            .item-89--gjZ {
              color: #000000;
              display: flex;
              flex-shrink: 0;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
              line-height: 0.9;
              margin-right: 11.5rem;
              white-space: nowrap;
            }
            .cht-1Hy {
              align-items: baseline;
              color: #000000;
              display: flex;
              flex-shrink: 0;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
              line-height: 0.9;
              white-space: nowrap;
  
              .cht-1Hy-sub-0 {
              }
              .cht-1Hy-sub-1 {
                color: #000000;
                font-family: Noto Sans KR, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.5;
              }
            }
          }
          .item-4108367-1-f19 {
            height: 3.5rem;
            left: 19.2rem;
            object-fit: cover;
            position: absolute;
            top: 3.2rem;
            vertical-align: top;
            width: 3.5rem;
          }
        }
        .tip--mps {
          color: #000000;
          display: flex;
          font-family: Smooch, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2222222222;
          margin: 0rem 0rem 2.4rem 0.5rem;
          text-decoration-line: underline;
          white-space: nowrap;
        }
        .frame-427318923-sd1 {
          align-items: center;
          background-color: #ffdc64;
          border-radius: 0.5rem;
          color: #000000;
          display: flex;
          font-family: Noto Sans KR, 'Source Sans Pro';
          font-size: 1.3rem;
          font-weight: 500;
          height: 2.8rem;
          justify-content: center;
          line-height: 1.6923076923;
          margin: 3rem 0rem 0.8rem 18.7rem;
          overflow: hidden;
          position: relative;
          white-space: nowrap;
          width: 12.1rem;
        }
        .item--vLP {
          color: #000000;
          display: flex;
          font-family: Noto Sans KR, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.1;
          margin-left: 1.3rem;
          white-space: nowrap;
        }
      }
      .home-indicators-Eby {
        background-color: #ffffff;
        box-sizing: border-box;
        height: 3.4rem;
        left: 0;
        overflow: hidden;
        padding: 2.1rem 11.3rem 0.8rem 11.3rem;
        position: absolute;
        top: 74.7rem;
        width: 36rem;
  
        .color-8xF {
          background-color: #000000;
          border-radius: 10rem;
          height: 0.5rem;
          width: 100%;
        }
      }
      .item-50--sew {
        color: #757575;
        display: flex;
        font-family: Noto Sans KR, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 1.8rem;
        left: 2.2rem;
        line-height: 1.5;
        position: absolute;
        top: 25.3rem;
        white-space: nowrap;
        width: 21.1rem;
        margin-top: 10px;
      }
      .status-bar-XUb {
        align-items: center;
        background-color: #ffffff;
        box-sizing: border-box;
        display: flex;
        height: 4rem;
        left: 0;
        padding: 1.4rem 1.602rem 1rem 3rem;
        position: absolute;
        top: 0;
        width: 36rem;
  
        .item-9-41-DMR {
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1;
          margin-right: 21rem;
          white-space: nowrap;
        }
        .mobile-signal-W5d {
          flex-shrink: 0;
          height: 1rem;
          margin: 0.3rem 0.5rem 0rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.8rem;
        }
        .wifi-p6K {
          flex-shrink: 0;
          height: 1.0965rem;
          margin: 0.097rem 0.573rem 0rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.5272rem;
        }
        .battery-vv3 {
          flex-shrink: 0;
          height: 1.3rem;
          margin-top: 0.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.6978rem;
        }
      }
    }
    .frame-692-FSX {
      align-items: center;
      display: flex;
      height: 1.8rem;
      left: 25.7rem;
      position: absolute;
      top: 19.4rem;
      width: 7.4rem;
  
      .item--ytK {
        color: #757575;
        display: flex;
        flex-shrink: 0;
        font-family: Noto Sans KR, 'Source Sans Pro';
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 2;
        margin-right: 0.6rem;
        text-align: right;
        white-space: nowrap;
      }
      .item-471664-1-4um {
        flex-shrink: 0;
        height: 1.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 1.2rem;
      }
    }
    .frame-695-ocT {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 34.45rem;
      left: 2.3rem;
      position: absolute;
      row-gap: 1.5rem;
      top: 35.6rem;
      width: 31.3002rem;
  
      .frame-694-77M {
        border-bottom: solid 0.05rem rgba(0, 0, 0, 0.3000000119);
        box-sizing: border-box;
        flex-shrink: 0;
        height: 10.05rem;
        width: 100%;
  
        .auto-group-xtaj-4YP {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 10rem;
          padding: 0rem 1rem 1.8rem 1rem;
          width: 100%;
  
          .auto-group-bchu-zB9 {
            flex-shrink: 0;
            height: 4.6rem;
            margin-bottom: 1.4rem;
            position: relative;
            width: 21.2rem;
  
            .item-20230908-vKh {
              color: #000000;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 500;
              height: 2.7rem;
              left: 0;
              line-height: 1.4475;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 9.2rem;
            }
            .lg-e13-3-RGT {
              color: rgba(0, 0, 0, 0.8000000119);
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              height: 2.2rem;
              left: 0;
              line-height: 1.4475;
              position: absolute;
              top: 2.4rem;
              white-space: nowrap;
              width: 21.2rem;
            }
          }
          .auto-group-k9t3-tfq {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin-right: 2.4002rem;
            width: calc(100% - 2.4002rem);
  
            .item-14--2GF {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.4475;
              margin-right: 6rem;
              white-space: nowrap;
            }
            .item-98--8q5 {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.4475;
              white-space: nowrap;
            }
          }
        }
      }
      .frame-696-bif {
        border-bottom: solid 0.05rem rgba(0, 0, 0, 0.3000000119);
        box-sizing: border-box;
        flex-shrink: 0;
        height: 10.05rem;
        width: 100%;
  
        .auto-group-wdfd-krT {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 10rem;
          padding: 0rem 1rem 1.8rem 1rem;
          width: 100%;
  
          .auto-group-nwc7-HLb {
            flex-shrink: 0;
            height: 4.6rem;
            margin-bottom: 1.4rem;
            position: relative;
            width: 21.2rem;
  
            .item-20230908-Dzw {
              color: #000000;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 500;
              height: 2.7rem;
              left: 0;
              line-height: 1.4475;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 9.2rem;
            }
            .lg-e13-3-jiP {
              color: rgba(0, 0, 0, 0.8000000119);
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              height: 2.2rem;
              left: 0;
              line-height: 1.4475;
              position: absolute;
              top: 2.4rem;
              white-space: nowrap;
              width: 21.2rem;
            }
          }
          .auto-group-wuj3-DtT {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin-right: 2.4002rem;
            width: calc(100% - 2.4002rem);
  
            .item-14--NWT {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.4475;
              margin-right: 6rem;
              white-space: nowrap;
            }
            .item-98--hHq {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.4475;
              white-space: nowrap;
            }
          }
        }
      }
      .frame-695-naB {
        border-bottom: solid 0.05rem rgba(0, 0, 0, 0.3000000119);
        box-sizing: border-box;
        flex-shrink: 0;
        height: 10.05rem;
        width: 100%;
  
        .auto-group-s5qz-LLo {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 10rem;
          padding: 0rem 0.8rem 1.8rem 1rem;
          width: 100%;
  
          .auto-group-vnt9-fP5 {
            align-items: flex-start;
            display: flex;
            flex-shrink: 0;
            height: 4.6rem;
            margin-bottom: 1.4rem;
            width: 100%;
  
            .auto-group-n8g7-nTh {
              flex-shrink: 0;
              height: 100%;
              margin-right: 3.2rem;
              position: relative;
              width: 21.2rem;
  
              .item-20230908-7ks {
                color: #000000;
                font-family: Noto Sans KR, 'Source Sans Pro';
                font-size: 1.8rem;
                font-weight: 500;
                height: 2.7rem;
                left: 0;
                line-height: 1.4475;
                position: absolute;
                top: 0;
                white-space: nowrap;
                width: 9.2rem;
              }
              .lg-e13-3-QEB {
                color: rgba(0, 0, 0, 0.8000000119);
                font-family: Noto Sans KR, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 400;
                height: 2.2rem;
                left: 0;
                line-height: 1.4475;
                position: absolute;
                top: 2.4rem;
                white-space: nowrap;
                width: 21.2rem;
              }
            }
            .auto-group-4v6f-s7m {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 5.1rem;
  
              .frame-698-1Us {
                align-items: center;
                background-color: #000000;
                border-radius: 0.3rem;
                color: #ffffff;
                display: flex;
                flex-shrink: 0;
                font-family: Noto Sans KR, 'Source Sans Pro';
                font-size: 1rem;
                font-weight: 500;
                height: 1.7rem;
                justify-content: center;
                line-height: 1.4475;
                margin-bottom: 0.4rem;
                overflow: hidden;
                position: relative;
                text-align: center;
                white-space: nowrap;
                width: 100%;
              }
              .frame-699-VQ3 {
                background-color: #ffcb51;
                border-radius: 0.3rem;
                box-sizing: border-box;
                color: #ffffff;
                flex-shrink: 0;
                font-family: Noto Sans KR, 'Source Sans Pro';
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.4475;
                overflow: hidden;
                padding: 0.25rem 1.25rem 0rem 1.25rem;
                position: relative;
                text-align: center;
                white-space: nowrap;
                width: 100%;
              }
            }
          }
          .auto-group-rmpm-9Ub {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin-right: 2.4rem;
            width: calc(100% - 2.4rem);
  
            .item-5--gzK {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.4475;
              margin-right: 7rem;
              white-space: nowrap;
            }
            .item-80--QQX {
              color: rgba(0, 0, 0, 0.8000000119);
              flex-shrink: 0;
              font-family: Noto Sans KR, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.4475;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  